// Font
$font-stack: "Quicksand", Arial, sans-serif;

// Primary colors
$primary-first: #323232; // BrainFlix-Black
$primary-second: #0095ff; // BrainFlix-Blue
$primary-third: #afafaf; // Silver
$primary-fourth: #fff; // White

// Secondary colors
$secondary-first: #000; // BrainFlix-DarkBlack
$secondary-second: #0065ad; // BrainFlix-DarkBlue
$secondary-third: #e1e1e1; // Mercury
$secondary-fourth: #fafafa; // Alabaster

// Breakpoint dimensions
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
