// Font
// $font-stack: "Quicksand", Arial, sans-serif;
$font-stack: "Poppins", Arial, sans-serif;

// Primary colors
$primary-bg: #fffffe; // background & button text
$primary-bg2: #d8eefe; // cloud
$primary-head: #094067; // headline
$primary-text: #5f6c7b; // paragraph
$primary-btn: #3da9fc; // button

// Secondary colors
$secondary-first: #90b4ce; // blue
$secondary-second: #d32f30; // red
$secondary-third: #b03b3c; // dark red

// Breakpoint dimensions
$tablet-breakpoint: 768px;
// $tablet-breakpoint: 1280px;
$desktop-breakpoint: 1280px;
