@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.activeday {
  background-color: $primary-bg;
  border: solid 0.2rem $primary-head;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-top: 1rem;
}
