@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $primary-bg;
  padding: 2rem;
  @include flex(row);
  justify-content: space-between;

  &__link {
    text-decoration: none;
    color: $primary-head;
    font-size: 3.3rem;
  }

  &__image {
    width: 2.5rem;
  }

  &__title {
    padding-left: 0.6rem;
    display: inline-block;
    font-size: 3.3rem;
  }

  &__button {
    background-color: $primary-btn;
    color: $primary-bg;
    border: none;
    padding: 0 1rem;
    border-radius: 0.6rem;
    font-family: $font-stack;
    cursor: pointer;
  }
}
